In [1]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read('dummy_inventory_flow.xlsx')
df = df.iloc[]

In [14]:
df = pd.DataFrame({ 'Date': 1,
          'Items Sold': 1,
          'Items Buy' : 1,
          'Item Name' : 1,
          'Category' : 1,
          'Console'
}, index = [0])

In [15]:
df

   Date  Items Sold  Items Buy  Item Name  Category
0     1           1          1          1         1